<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiU4JS68Vm4b5w8BLutwvnQVgtei9Pcn0&callback=initMap" async defer>
</script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js">
</script> -->

<ul>
	<li> <%= link_to 'direccion',pages_direccion_path %></li>
</ul>
<div id="demo"> </div>


<div id="latitud"></div>
<div id="longitud"></div>

<button onclick="getLocation()">Try It</button>

<div><p>La direccion corresponde a: <span id="direccion"></span></p> </div>

<div style='width: 800px;'>
 	<div id="map" style='width: 600px; height: 400px;'></div>
</div>

<script>
	function initMap(){
 	handler = Gmaps.build('Google');
 	handler.buildMap({
 		provider: {
 			backgroundColor: 'black',
 			//center: new google.maps.LatLng(-33, -70.6)
 			center: {lat: <%= current_user.latitude %>, lng: <%=current_user.longitude%>},
 			zoom: 12
 		},
 		internal: {id: 'map'}},
 		function(){
 			markers = handler.addMarkers(<%=raw @markers.to_json %>);
 		// 	markers = handler.addMarkers([{
 		// 		lat: -33.4,
 		// 		lng: -70.8,
 		// 		picture: {
 		// 			url: "https://image.flaticon.com/icons/png/128/34/34466.png",
 		// 			width: 128,
 		// 			height: 128
 		// 		}
 		// 	}]);
 		// });
 			}
 		);
	};
</script>

<script src="//maps.google.com/maps/api/js?key=AIzaSyDiU4JS68Vm4b5w8BLutwvnQVgtei9Pcn0&callback=initMap" async defer></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>


<script>
	var x = document.getElementById("latitud");
	var y = document.getElementById("longitud");
	function getLocation() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(showPosition);
		} else {
			x.innerHTML = "Geolocation is not supported by this browser.";
		}
	}

	function showPosition(position) {
		x.innerHTML = "Latitude: " + position.coords.latitude;
		y.innerHTML = "Longitude: " + position.coords.longitude;

		$.ajax({
			url: '<%= pages_direccion_path %>',
			type: 'POST',
			dataType: 'script',
			data: {
				latitude: position.coords.latitude,
				longitude: position.coords.longitude
			},
		});


	}


</script>
